
/* DO NOT CHANGE THESE STYLES */
span 
{
	display: inline-block;
	background-color: orange;
	border: 1px solid black;
	width:100px;
	height:100px;
	padding: 0px;
	margin: 0px;
}

body
{
	height: 10000px; /* this is just to make sure you can scroll */
}

div
{
	height: 200px;
	border: 5px solid blue;
	margin: 10px;
}

/***************************/
/* BEGIN YOUR CHANGES HERE */
/***************************/

/* FIRST ROW : FLOATS; */
.a1 {float: right;
}

.b1 {float: inline-start;
}

.c1 {float: right;
}

.d1 {float:left;
}

/* SECOND ROW : DISPLAY */

.a2 {display: inline-block;
}

.b2 {display: none;
}

.c2 {display: inline-block;
	width:20px;
	height:20px;
}

.d2 {display: table;
}

/* THIRD ROW : POSITION */

.a3 {position: static;
}

.b3 {position: relative;
bottom: 50px;
left: 20px;
}

.c3 {position: absolute;
top: 500px;
left: 540px;
}

.d3 {position: fixed;
bottom: 350px;
left: 300px;
}